@using TAN.DomainModels.ViewModels;
@using TAN.DomainModels.Helpers;
@model EmailTemplateViewModel

<div class="row">
    <div class="card">
        <div class="card-body">
            <div width="100%"
                 style="
        padding: 0px 0px;
        font-family: arial;
        line-height: 28px;
        height: 100%;
        width: 100%;
        color: #514d6a;
      ">
                <div style="max-width: 700px; padding: 50px 0; margin: 0px auto; font-size: 14px">

                    <table border="0" cellpadding="0" cellspacing="0" style="background: #f8f8f8;width: 100%; border-left:1px solid #2962ff; border-right:1px solid #2962ff;border-top:4px solid #009ade; border-bottom:4px solid #009ade;">
                        <tbody>
                            <!-- start row -->
                            <tr>
                                <td style="padding:13px 20px; text-align: left">
                                    <div style="width:100%;box-sizing: border-box; text-align: left; float:left;">

                                        <div style="width:150px;float:left">
                                            <a href="#" target="_blank">
                                                <img data-imagetype="External" src="@Model.LogoPath" originalsrc="@Model.LogoPath" alt="logo1" border="0" width="100" height="30">
                                            </a>
                                        </div>
                                        <div style="float:right;padding:13px 20px;">
                                            <p style="margin:0px; color: #55565a;"><strong>Reset Password</strong></p>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div style="padding:25px 40px; background: #fff;border-left:1px solid #2962ff; border-right:1px solid #2962ff;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                            <tbody>
                                <!-- start row -->
                                <tr>
                                    <td style="padding:13px 0px 18px; text-align:center;">
                                        <img data-imagetype="External" src="@Model.ForgotPasswordLogoPath" originalsrc="@Model.ForgotPasswordLogoPath" alt="forgotpassword" border="0" width="200" height="150">
                                    </td>

                                </tr>
                                <!-- end row -->
                                <tr>
                                    <td>
                                        <p style="font-size:18px;margin-bottom:6px; color:#333333;"> <strong>Hello @Model.UserName</strong>,</p>
                                        <p style="margin:0 0 5px; color: #333333;">
                                            It seems you’ve forgotten your password. To regain access to your account,
                                            Reset Password now.
                                        </p>
                                        <a href="@Model.Url" itemprop="@Model.Url">
                                            <div style="font-family: 'Roboto', sans-serif;box-sizing: border-box;font-size: .8125rem;color: #FFF !important;text-decoration: none !important;font-weight: 400;text-align: center;cursor: pointer;display: inline-block;border-radius: .25rem;text-transform: capitalize;background-color: #009ade ;margin: 0;border-color: #4b38b3;border-style: solid;border-width: 1px;padding:5px 10px;margin-top:5px;box-shadow: 0 3px 3px rgba(56,65,74,0.1);">
                                                Reset Password
                                            </div>
                                        </a>

                                        <p style="line-height: 140%; word-break: break-all;margin:0 0 15px"><a href="#" target="_blank" rel="noopener"><span style="text-decoration: underline;line-height: 19.6px;"></span></a></p>
                                       <p style="margin:0; color: #333333;">Regards,</p>
                                        <p style="margin:0; color: #333333;"><strong>Think Anew</strong></p>
                                    </td>
                                </tr>
                                <!-- end row -->
                            </tbody>
                        </table>
                    </div>
                    <div style="padding:13px 20px;border-left:1px solid #2962ff; border-right:1px solid #2962ff;border-bottom:1px solid #2962ff;background: #f8f8f8;text-align:center; font-size: 12px; color: #b2b2b5; margin-top:0px">
                        <p style="margin:0;">
                            Powered by Think Anew
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>